<div class="row">
  <div class="col-md-6">
    <label for="name" class="font-weight-bold">Name</label>
    <input type="text" id="name" class="form-control">
  </div>
  <div class="col-md-6">
    <label for="sysname" class="font-weight-bold">System</label>
    <select id="sysname" class="form-control">
      <option value=""></option>
    </select>
  </div>
  <div class="col-md-6">
    <label for="envname" class="font-weight-bold">Environment Name</label>
    <select id="envname" class="form-control">
      <option value=""></option>
    </select>
  </div>
  <div class="col-md-6">
    <label for="custname" class="font-weight-bold">Customer Name</label>
    <input type="text" id="custname" class="form-control">
  </div>
  <div class="col-md-6">
    <label for="tsc" class="font-weight-bold">Total Story Count</label>
    <input type="text" id="tsc" class="form-control">
  </div>
  <div class="col-md-6">
    <label for="tsp" class="font-weight-bold">Total Story Points</label>
    <input type="number" id="tsp" class="form-control">
  </div>
  <div class="col-md-6">
    <label for="relname" class="font-weight-bold">Release Name</label>
    <input type="text" id="relname" class="form-control">
  </div>
  <div class="col-md-6">
    <label for="qaname" class="font-weight-bold">Tested By</label>
    <input type="text" id="qaname" class="form-control">
  </div>

  <div class="mt-2">
  <div class="col-md-12">
    <button class="btn btn-outline-success btn-block">Start Project</button>
  </div>
  </div>
</div>
