<mat-card>
  <form
    class="example-container"
    (ngSubmit)="onSubmit()"
    [formGroup]="projectFormGroup"
  >
    <mat-form-field hidden>
      <mat-label>Number</mat-label>
      <input required formControlName="id" type="text" matInput readonly />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Project Name</mat-label>
      <input
        required
        formControlName="projectName"
        placeholder="Proposal UX updates"
        type="text"
        matInput
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Release Name</mat-label>
      <input
        required
        formControlName="releaseName"
        placeholder="Sprint 15"
        type="text"
        matInput
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>QA Lead</mat-label>
      <mat-select required formControlName="lead">
        <mat-option *ngFor="let qa of qaPeople" [value]="qa.id">{{
          qa.firstname + ' ' + qa.lastname
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Customer Name</mat-label>
      <input
        required
        formControlName="customerName"
        placeholder="AIG"
        type="text"
        matInput
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>System</mat-label>
      <mat-select required formControlName="system">
        <mat-option
          *ngFor="let sysn of releaseOptions.systems"
          [value]="sysn.id"
          >{{ sysn.name }}</mat-option
        >
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Status</mat-label>
      <mat-select required formControlName="status">
        <mat-option
          *ngFor="let sysn of releaseOptions.statuses"
          [value]="sysn.id"
          >{{ sysn.name }}</mat-option
        >
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Environment</mat-label>
      <mat-select required formControlName="environment">
        <mat-option
          *ngFor="let env of releaseOptions.environments"
          [value]="env.id"
          >{{ env.name }}</mat-option
        >
      </mat-select>
    </mat-form-field>

    <div class="example-button-row">
      <button
        type="button"
        mat-raised-button
        color="primary"
        (click)="addProject()"
        [disabled]="!projectFormGroup.valid"
      >
        Add Project!
      </button>
      <button
        type="button"
        mat-raised-button
        color="accent"
        (click)="updateProject()"
        [disabled]="!projectFormGroup.valid"
      >
        Update Project!
      </button>
    </div>
  </form>
</mat-card>
