<mat-card>
  <form class="signin-form" (ngSubmit)="signIn()" [formGroup]="signInFormGroup">
    <mat-form-field class="signin-full-width">
      <input
        matInput
        formControlName="identifier"
        class="form-control"
        placeholder="Username or email address"
        type="text"
      />
    </mat-form-field>
    <mat-form-field class="signin-full-width">
      <input
        matInput
        formControlName="password"
        class="form-control"
        placeholder="Password"
        type="password"
      />
    </mat-form-field>
    <!-- <mat-form-field class="signin-full-width" *ngIf="errorMessage">
      <label matLabel class="form-control">{{errorMessage}}</label>
    </mat-form-field> -->

    <div class="signin-full-width">
      <button
        type="button"
        mat-raised-button
        color="primary"
        (click)="signIn()"
        [disabled]="signInFormGroup.invalid"
      >
        Sign In
      </button>
    </div>
  </form>
</mat-card>
